<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - SynthCloud</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-gray-800 shadow">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <h1 class="text-xl font-semibold text-white"><a href="/">SynthCloud</a></h1>
            <ul class="flex space-x-4 items-center">
                <li><a href="/" class="text-white hover:text-gray-300 me-5">Explore</a></li>
                <li><a href="/lyrics" class="text-white hover:text-gray-300 me-5">Lyrics</a></li>
                <li><a href="/upload" class="text-white hover:text-gray-300 me-5">Upload</a></li>
                <!-- Avatar Redirecting to Profile Page -->
                <li>
                    <a href="/profile">
                        <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Avatar" class="w-8 h-8 rounded-full">
                    </a>
                </li>
                <!-- Gear Icon for Settings -->
                <li>
                    <a href="/settings" class="text-white hover:text-gray-300 ms-5">
                        <i class="material-icons pt-1">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-semibold mb-4">Profile</h2>

        <!-- Profile Information -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden p-6 mb-8 flex justify-between items-center">
            <div class="flex items-center">
                <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Profile Picture" class="w-16 h-16 rounded-full">
                <div class="ml-4">
                    <h3 class="text-lg font-semibold mb-1"><%= userInfo.username %></h3>
                    <p class="text-gray-600 mb-1"><%= userInfo.mail %></p>
                </div>
            </div>
            <!-- Admin Button -->
            <% if(userInfo.isAdmin) {%>
            <button name="adminBtn" class="text-gray-600 hover:text-gray-900 ms-auto me-7" onclick="window.location.href = '/admin'; " >
                <i class="material-icons">manage_accounts</i>
            </button>
            <%}%>
            <!-- Logout Button -->
            <button name="logoutBtn" class="text-gray-600 hover:text-gray-900" onclick="window.location.href = '/logout'; " >
                <i class="material-icons">logout</i>
            </button>
        </div>


    </div>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>
