<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="../styles/main.css">

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <nav class="bg-gray-800 shadow">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <h1 class="text-xl font-semibold text-white"><a href="/">SynthCloud</a></h1>
            <ul class="flex space-x-4 items-center">
                <li><a href="/" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Explore<% } else if (preferredLanguage === 'russian') { %>Главное<% } %></a></li>
                <li><a href="/lyrics" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Lyrics<% } else if (preferredLanguage === 'russian') { %>Текст песни<% } %></a></li>
                <li><a href="/upload" class="text-white hover:text-gray-300 me-5"><% if (preferredLanguage === 'english') { %>Upload<% } else if (preferredLanguage === 'russian') { %>Загрузить<% } %></a></li>
                <!-- Avatar Redirecting to Profile Page -->
                <li>
                    <a href="/profile">
                        <img src="https://t4.ftcdn.net/jpg/05/49/98/39/360_F_549983970_bRCkYfk0P6PP5fKbMhZMIb07mCJ6esXL.jpg" alt="Avatar" class="w-8 h-8 rounded-full">
                    </a>
                </li>
                <!-- Gear Icon for Settings -->
                <li>
                    <a href="/settings" class="text-white hover:text-gray-300 ms-5">
                        <i class="material-icons pt-1">settings</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-semibold mb-4"><% if (preferredLanguage === 'english') { %>Settings<% } else if (preferredLanguage === 'russian') { %>Настройки<% } %></h2>
        <p><% if (preferredLanguage === 'english') { %>Select preffered language:<% } else if (preferredLanguage === 'russian') { %>Выберите язык:<% } %></p>
        <form id="languageForm" class="space-y-2" method="post" action="/save-language">
            <input type="radio" id="english" name="language" value="english" class="mr-2">
            <label for="english"><% if (preferredLanguage === 'english') { %>English<% } else if (preferredLanguage === 'russian') { %>Англиский<% } %></label><br>
            <input type="radio" id="russian" name="language" value="russian" class="mr-2">
            <label for="russian"><% if (preferredLanguage === 'english') { %>Russian<% } else if (preferredLanguage === 'russian') { %>Русский<% } %></label><br>
            <button type="submit" class="bg-gray-800 text-white rounded-md py-2 px-4"><% if (preferredLanguage === 'english') { %>Save<% } else if (preferredLanguage === 'russian') { %>Сохранить<% } %></button>
        </form>
    </div>

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</body>
</html>
