.player-bg {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

/* CSS Styling */
.music-item {
    transition: transform 0.3s;
}

.music-item:hover {
    transform: scale(1.05);
}

.play-button {
    display: none;
}

.music-item:hover .play-button {
    display: block;
}

.description-cell {
    max-height: 100px;
    overflow-y: auto;
}
